.app {
    background-color: #282C34;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    transition: background-color 0.3s ease;
}

.app.light {
    background-color: #F0F0F0;
}

body {
    overflow: hidden; 
}